* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to Ttop, rgb(117, 132, 132), white);
  font-family: sans-serif;
  height: 100vh;
}

.card {
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
}

.nav-item {
  align-self: flex-end;
  color: #3d6ded;
}

.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
