

.chart > div {
  flex: 1;
  text-align: center;
}

.chart-circle{
  display: flex;
  justify-content: center;
}

.chart-circle > img {
  width: 80%;
  margin: 2vw 0;
}

.chart-legends {
  border: green dotted 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-legend{
  border: red 1px solid;
  display: flex;
  align-items: center;
  justify-content: left;
}

.chart-icon-legend {
  position: relative;
   height: 2vw;
  width: 2vw;
  border-radius: 100%;
  border: .6vw lightblue solid;
  margin: 0 1vw;
}

.chart-icon-legend.orange {
  border-color: orange;
}

.chart-icon-legend.green {
  border-color: green;
}

.chart-icon-legend.red {
  border-color: red;
}
