.feed-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.welcome-feed-page {
  border: 1px red solid;
  flex: 1;
}

.event-feed {
  margin:1vw 0;
  flex: 2;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.event-feed-option{
  text-align: center;
  width: 20%;
  align-self: center;
  color: blue;
  border: none;
  background-color: white;
}

.main-page > div{
  padding: 4vw;
}
