.event-feed-card {
  display: flex;
  flex-direction: column;
  margin: 2vw 0;
  background-color: gray;
}

.event-feed-card > div {
  display: flex;
  margin: 1vw 3vw;
}

.top-card{
  display: flex;
}

.title-card{
  flex:4;
}

.type-card {
  text-align: end;
  flex:1;
}

.profile-card{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.profile-card > div {
  margin: 1vw 1vw;
}


.due-date{
    border: orange solid 1px;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.due-date > div{
    margin-right: 1vw;
}

.name-card {
  display: flex;
  align-items: center; 
}

.status-card {
  flex: .3;
  text-align: end;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.button-status-card{
  border-radius: 1vw;
  font-size: 2vw;
  color: white;
  border: none;
}

.button-completed{
  background-color: green;
}

.button-ended{
  background-color: red;
}

.status-card > input{
    width: 2vw;
    margin-right: .5vw;
}