.graph-feed {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.graph-legends {
  height: 70%;
  display: flex;
}

.graph-legend > div {
  margin: 2vw 1vw;
}

.graph-icon-legend {
  position: relative;
  height: 3vw;
  width: 3vw;
  border-radius: 100%;
  border: .6vw lightblue solid;
}

.graph-image {
  border: blue 1px dotted;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.graph-image > img{
    width: 90%;
}


