html,
body {
  height: 100%;
}

.sidebar {
  flex-direction: column;
  background-color: #ffffff;
  padding: 0vw 0.5vw;
}

section {
  flex: 1;
}

.title {
  flex: 0.1;
  padding: 1vw 1vw;
  color: #109cf1;
  font-size: 2vw;
}



.profile {
  flex: 0.5;
  border-top: #8f8f8f5a 1px solid;
  display: flex;
  flex-direction: row;
}

.div-profile-pic {
  text-align: center;
  margin-left: 1vw;
  padding: 0 1vw;
}


h2.profile-text {
  font-size: 14px;
}

h3.profile-text {
  color: #8f8f8f;
  font-size: 10px;
}

li {
  list-style-type: none;
  margin-top: 2vw;
}

* > ul > li > a {
  display: flex;
  text-decoration: none;
  color: #000000;
}

* > ul > li > a > object {
  padding-right: 1vw;
}

.main-menu {
  border-bottom: #8f8f8f5a 1px solid;
}

.others {
  padding: 1vw;
}
