html,
body {
  height: 100%;
}

.sidebar {
  flex-direction: column;
  background-color: #ffffff;
  padding: 0vw 0.5vw;
}

section {
  flex: 1;
}

.title {
  flex: 0.1;
  padding: 1vw 1vw;
  color: #109cf1;
  font-size: 2vw;
}

.profile {
  flex: 0.5;
  border-top: #8f8f8f5a 1px solid;
  display: flex;
}


.profile-pic {
  text-align: center;
  margin-left: 1vw;
  padding: 0 1vw;
}

.profile-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  font-size: 60%;
}

.profile-email{
  color: #8f8f8f;
  font-size:40%;
}

li {
  list-style-type: none;
  margin-top: 2vw;
}

* > ul > li > a {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-size: 80%;
}

* > ul > li > a > object {
  padding-right: 1vw;
  width: 15%;
  height: 15%;
}

.main-menu {
  border-bottom: #8f8f8f5a 1px solid;
}

.others {
  padding: 1vw;
}
