.top-welcome-feed-page {
  display: flex;
  flex-direction: row;
}

.welcome-feed-page > div {
  margin: 10px 0;
}

.task-info {
  flex: 1;
}

.calendar {
  border: red 1px solid;
  display: flex;
  flex-direction: row;
}

.calendar-day-date {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-day-date > div{
  flex:1;
  
}


