/*Styling for about me page*/
.body-about-me{
  background-color: black;
  color: white;
}

h1{
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
}

h2 {
  font-size: 2rem;
}


section h3, section p, section a{
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.section-about-me {
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 50%;
  background-color: #4146a6;
  color: white;
    border-radius: 4rem;

}





.section-born {
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2rem;
  background-color: #9498F2;
  border-radius: 4rem;
}

.section-city-lived {
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 4rem;
  background-color: #506AD4;
  padding: 2rem;
}

iframe {
  border: #4146a6 solid 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background: none !important;
  height: 204px;
  width: 95%;
}



button{
  border-radius: 1rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0 1rem;
  background-color: #506ad474;
  color: white;
}



button:hover{
  text-decoration: underline;
}

#button-city-previous {
  visibility: hidden;
}
