/* Decoration of the navigation bar*/
nav,
footer {
  position: fixed;
  width: 100%;
}

nav {
  text-align: center;
  top: 0;
  font-size: 1.5rem;
  float: left;
}

footer {
  bottom: 0;
  font-size: 0.8rem;
  text-align: center;

  width: 100%;
}

nav a,
footer a {
  color: white;
  padding: 1rem 0;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  border-radius: 1rem;
}

nav a {
  padding: 0 1rem;
  margin: 0 1rem;
  background-color: #cccccc;
  border: 5px black solid;
}

nav a:hover {
  background-color: white;
  color: black;
}

footer {
  display: block;
}

footer h3 {
  padding: 1rem 0;
  border: 5px green solid;
  display: inline;
}
