/* Decoration of the navigation bar*/
nav,
footer {
  position: fixed;
  width: 100%;
}

nav {
  text-align: center;
  top: 0;
  font-size: 1.5rem;
}

footer {
  bottom: 0;
  color: white;
  font-size: 0.8rem;
  display: flex;
  background-color: black;
  width: 100%;
}

nav a,
footer a {
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
}

nav a {
  padding: 0 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  background-color: #cccccc;
  border: 5px black solid;
}

nav a:hover {
  background-color: white;
  color: black;
}

footer a:hover {
  background-color: white;
  color: black;
}


footer h3 {
  width: 90%;
  position:relative;
  text-align: right;
}
