
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to Ttop, rgb(117, 132, 132), white);
  font-family:  'Urbanist', sans-serif;
  height: 100vh;
}

/* Decoration of the navigation bar*/
.navbar{
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  padding: .5rem 1rem;
}

.navbar a {
  float: left;
  color:white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 2rem;
  font-weight:900;
  text-decoration: none;
  border-radius: 2rem;
}

.navbar a:hover{
  color:black;
  background-color: white;
}


/* Decoration for the to extern web profiles of LinkedIn, GitHub and StackOverflow*/ 
.card-links li{
  background-color: gray;
  margin: 1rem 1rem;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}







.card {
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
}





.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
