.analytic-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.analytic-main-container > div {
  padding:1vw;
  height: 48%;
}



/* Function chart card */

.graph-feed {
  background-color: yellow;
}

.graph-icon {
  border-color: lightblue;
}

.graph-legend {
  display: flex;
  align-items: center;
}

/* Pie chart card */

.pie-feed {
  background-color: yellow;
  
}

.pie {
  display: flex;
}

.pie-legends {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pie-legend {
  display: flex;
  align-items: center;
}
