.analytic-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.analytic-main-container > div {
  padding: 2vw;
  width: 90%;
}

img.analytic-image {
  width: 80%;
}

/* Function chart card */

.graph-feed {
  background-color: yellow;
}

.graph-icon {
  border-color: lightblue;
}

.graph-legend {
  display: flex;
  align-items: center;
}

/* Pie chart card */

.pie-feed {
  background-color: yellow;
  
}

.pie {
  display: flex;
}

.pie-legends {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pie-legend {
  display: flex;
  align-items: center;
}
