.main-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.main-top-bar {
  display: flex;
  justify-content: center;
  flex: 0;
}

.search-input {
  flex: 1;
}

.main-container {
  flex: 1;
  border: solid 1px green;
  display: flex;
  justify-content: space-around;
}

.feed-main-container {
  width: 50%;
  height: 100%;
  border: solid 1px blue;
}

.analytic-main-container {
  width: 50%;
  height: 100%;
  border: purple 1px solid;
}

@media (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }

  .feed-main-container {
    width: 100%;
    height: 100%;
    border: solid 1px blue;
  }

  .analytic-main-container {
    width: 100%;
    height: 100%;
    border: purple 1px solid;
  }
}
