.main-page {
  display: flex;
  flex-direction: column;
}

.main-top-bar {
  margin: 1.78%;
  display: flex;
  justify-content: center;
}

.main-container {
  flex: 10 0 0;
  display: flex;
}

.search-input {
  flex: 1;
}



.feed-main-container {
  width: 55%;
}

.analytic-main-container {
  width: 45%;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
  }

  .feed-main-container {
    width: 100%;
    border: solid 1px blue;
  }

  .analytic-main-container {
    width: 100%;
    border: purple 1px solid;
  }
} 
