.main-page{
  display: flex;
  flex-direction: column;
}

.main-top-bar {
  padding: .8em;
  border: solid red 1px;
  position: relative;
  display: flex;
}

.main-container {
  padding: 1vw;
  display: flex;
  background-color: lightblue;
  justify-content: space-around;
  width: 100%;
  flex:1;
}

.search-input{
  flex:2;
}

.feed-main-container {
  background-color: red;
  width: 52%;
}

.analytic-main-container{
  background-color: green;
  width: 43%;
}

@media (max-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
  }

  .feed-main-container {
  background-color: red;
  width: 100%;
}

.analytic-main-container{
  background-color: green;
  width: 100%;
}
}
