.event-feed-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vw;
}

.due-date {
  display: flex;
  margin: 1em 0;
}

.due-date-title {
  margin-right: .5em;
}

.bottom-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-card {
  display: flex;
  align-items: center;
}

.status-card {
  display: flex;
  align-items: center;
}

