.feed-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-color: blueviolet;
}



.event-feed {
  background-color: gray;
  padding: 1vw;
}
