.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: purple 1px solid;
}

.top-sidebar{
  flex: 1 1 2vw;
  border: red 1px solid;
}

.center-sidebar{
  flex: 5 1 2vw;
  margin: 2vw 0 ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li {
  margin: 1.5vw 1vw;
}

a {
  display: flex;
  justify-content: flex-start;

}

a > object{
  margin-right: 1vw;
}


.bottom-sidebar{
  flex: 10 1 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-sidebar{
  display: flex;
  justify-content: space-evenly;

}


