.welcome-feed {
  display: flex;
  flex-direction: column;
}

.welcome-feed > div{
   margin: .5vw 0 ;
}


.top-welcome-feed-page {
  background-color: red;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-self: center;
}

.filter-task {
  justify-self: flex-end;
  margin-left: auto;
}


.progress{
  align-self: center;
  width: 100%;
}



.calendar {
  display: flex;
  justify-content: space-evenly;
  border: solid 1px red;
}
