.welcome-feed {
  display: flex;
  flex-direction: column;
  padding: 1vw 1.4vw;
}

.top-welcome-feed-page {
  display: flex;
  justify-content: space-between;
}

.progress {
  margin: 1.5vw 0;
}

.date {
  margin-bottom: 1vw;
}

.calendar {
  display: flex;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  justify-content: space-between;
}

.calendar-day-date{
  display: flex;
  flex-direction: column;
  align-items: center;
}
